<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='w-50 mx-auto'>
    <div class='mb-3'>
      <%= form.label :username, class: 'form-label' %>
      <%= form.text_field :username, class: 'form-control'%>
    </div>
    <div class='mb-3'>
      <%= form.label :password, class: 'form-label' %>
      <%= form.password_field :password, class:'form-control' %>
    </div>
    <div class='mb-3'>
      <%= form.label :password_confirmation, class:'form-label'%>
      <%= form.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <% if admin ||=  false %>
      <div class='mb-3'>
        <%= form.check_box :is_admin, class:'form-check-input' %>
        <%= form.label :is_admin, class: 'form-check-label' %>
      </div>
    <% end %>
    <%= form.button 'Save', class:'btn btn-primary'%>
    <%= yield %>
  </div>
<% end %>
