<header>
<div class='d-flex align-items-center bg-primary bg-gradient rounded-bottom shadow '>
  <ul class='nav flex-grow-1'>
    <li class='nav-item'>
      <%= link_to 'Home', root_path, class:'nav-link text-white'%>
    </li>
    <li class='nav-item'>
      <%= link_to 'Books', books_path, class:'nav-link text-white'%>
    </li>
    <li class='nav-item'>
      <%= link_to 'Authors', authors_path, class: 'nav-link text-white' %>
    </li>
    <% if current_user&.is_admin %>
    <li class='nav-item'>
      <%= link_to 'Users', users_path, class: 'nav-link text-white'%>
    </li>
    <% end %>
  </ul>
  <form class=''>
    <input type='search' placeholder='Search...'
    class='form-control form-control-sm text-bg-primary'>
  </form>
  <div class='px-3'>
    <% if current_user %>
      <div class=''>
        <%= link_to "[#{current_user.username}] : ", user_path(current_user), class: 'text-decoration-none text-white'%>
        <%= link_to 'Logout', logout_path, class: 'text-decoration-none text-white'%>
      </div>
    <% else%>
      <%= link_to 'Register', new_user_path, class: 'text-decoration-none text-white'%>
      <%= link_to 'Login', login_path, class: 'text-decoration-none text-white'%>
    <% end %>
  </div>
  </div>
</header>
