<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class='bg-secondary'>
    <div class="container min-vh-100 pb-5">
      <%= render 'shared/header'%>
      <div class='border border-5 shadow rounded bg-white mt-3 p-3'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
